<header class="container">
    <div id="header__overlay" class="container">
        <div id="header__logo" class="container"></div>
    </div>
</header>



<div id="hours" class="container">
    <div id="hours__title" class="title">Hours</div>
    <ul class="container">
        <li id="hours__item-titles" class="container hours__item">
            <div class="container hours__day">DAY</div>
            <div class="container hours__bar">BAR</div>
            <div class="container hours__kitchen">KITCHEN</div>
        </li>
        <li class="container hours__item" [ngClass]="{'item--selected': dayEnum == 0}">
            <div class="container hours__day">SUN</div>
            <div class="container hours__bar"><i>Bar: </i>Closed</div>
            <div class="container hours__kitchen"><i>Kitchen: </i>Closed</div>
        </li>
        <li class="container hours__item" [ngClass]="{'item--selected': dayEnum == 1}">
            <div class="container hours__day">MON</div>
            <div class="container hours__bar"><i>Bar: </i>Closed</div>
            <div class="container hours__kitchen"><i>Kitchen: </i>Closed</div>
        </li>
        <li class="container hours__item" [ngClass]="{'item--selected': dayEnum == 2}">
            <div class="container hours__day">TUE</div>
            <div class="container hours__bar"><i>Bar: </i>4pm - 11pm</div>
            <div class="container hours__kitchen"><i>Kitchen: </i>5pm - 9pm</div>
        </li>
        <li class="container hours__item" [ngClass]="{'item--selected': dayEnum == 3}">
            <div class="container hours__day">WED</div>
            <div class="container hours__bar"><i>Bar: </i>4pm - 11pm</div>
            <div class="container hours__kitchen"><i>Kitchen: </i>5pm - 9pm</div>
        </li>
        <li class="container hours__item" [ngClass]="{'item--selected': dayEnum == 4}">
            <div class="container hours__day">THU</div>
            <div class="container hours__bar"><i>Bar: </i>4pm - 11pm</div>
            <div class="container hours__kitchen"><i>Kitchen: </i>5pm - 10pm</div>
        </li>
        <li class="container hours__item" [ngClass]="{'item--selected': dayEnum == 5}">
            <div class="container hours__day">FRI</div>
            <div class="container hours__bar"><i>Bar: </i>4pm - 1<sup>30</sup>am</div>
            <div class="container hours__kitchen"><i>Kitchen: </i>5pm - 11pm</div>
        </li>
        <li class="container hours__item" [ngClass]="{'item--selected': dayEnum == 6}">
            <div class="container hours__day">SAT</div>
            <div class="container hours__bar"><i>Bar: </i>5pm - 1<sup>30</sup>am</div>
            <div class="container hours__kitchen"><i>Kitchen: </i>5pm - 11pm</div>
        </li>
    </ul>
</div>


<div id="on-tap" class="container">
    <div id="on-tap__title" class="title">Beers On Tap</div>
    <ul class="container">
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Some Really Long Name That Overflows the Line</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
        <li class="container on-tap__beer">
            <div class="container beer__title">Civil Life Brown</div>
            <div class="container beer__abv">4.4%</div>
            <div class="container beer__price">$5</div>
        </li>
    </ul>

</div>


<div id="contact" class="container">
    <div id="contact__phone" class="container">
        <div class="title">Phone</div>
        <a href="tel:+13146962783">314.696.2783</a>
    </div>
    <div id="contact__email" class="container">
        <div class="title">Email</div>
        <a href="mailto:hello@thurmansinshaw.com">hello@thurmansinshaw.com</a>
    </div>
    <div id="contact__address" class="container">
        <div class="title">Address</div>
        <a (click)="toggleMap()">4069 Shenandoah Ave, St. Louis, MO 63110</a>
    </div>
    <div *ngIf="showMap" id="contact__map" class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.655425563544!2d-90.25341388456954!3d38.61080047961592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4f7df6b119b%3A0xf29d1f3b74fc2ff!2s4069+Shenandoah+Ave%2C+St.+Louis%2C+MO+63110!5e0!3m2!1sen!2sus!4v1505362998707"
            width="100%"
            height="100%"
            frameborder="0"
            style="border:0"
            allowfullscreen>
        </iframe>
    </div>
</div>
