@keyframes loadLogo {
    0% {
        background-color: #000;
        border-radius: 0 0 0 0;
    }
    25% {
        background-color: #000;
        border-radius: 50% 0 0 0;
    }
    50% {
        background-color: #000;
        border-radius: 50% 0 50% 0;
    }
    75% {
        background-color: #000;
        border-radius: 50%;
    }
    100% {
        background-color: transparent;
        border-radius: 50%;
    }
}

header {
    width: 100vw;
    height: 100vh;
    background: #000 url('/assets/header/header_bkgd.jpg') no-repeat center center;
    background-size: cover;

    #header__overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        position: relative;

        #header__logo {
            width: 50vw;
            max-width: 400px;
            height: 50vw;
            max-height: 400px;
            background: transparent url('/assets/header/header_logo.png') no-repeat center center;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: 3s ease 0s 1 loadLogo;
        }
    }
}

#hours {
    background-color: #133547;
    color: #fff;
    padding-top: 3vh;
    padding-bottom: 5vh;

    #hours__title {
        text-align: center;
        margin: 2vh auto;
    }

    ul {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0;

        #hours__item-titles {
            display: none;

            @media screen and (min-width: 786px) {
                display: block;
                background-color: #133547;
            }
        }

        .hours__item {
            background-color: #fff;
            color: #4d4d4d;
            padding: 10px;
            text-align: center;

            &:nth-child(odd) {
                background-color: #92aa9b;
                color: #fff;
            }

            i {
                font-style: normal;
            }

            .hours__day {
                float: left;
            }

            @media screen and (min-width: 786px) {
                text-align: left;

                i {
                    display: none;
                }

                .hours__day {
                    float: left;
                    width: 20%;
                }

                .hours__bar {
                    float: left;
                    width: 40%;
                }

                .hours__kitchen {
                    float: left;
                    width: 40%;
                }
            }
        }

        .item--selected {
            border: 5px solid #133547;
        }
    }
}

#on-tap {
    margin: 5vh auto;
    padding-top: 3vh;
    padding-bottom: 5vh;

    #on-tap__title {
        text-align: center;
        margin-bottom: 2vh;
    }

    ul {
        width: 90%;
        max-width: 850px;
        margin: 0 auto;
        padding: 25px;
        background: #000 url('/assets/on-tap/blackboard_bkgd.jpg') no-repeat center center;
        background-size: cover;
        box-shadow: 4px 5px 12px -1px #4d4d4d;
        margin-bottom: 12px;
        font-family: 'Indie Flower', helvetica;
        font-size: 20px;
        color: #fff;

        .on-tap__beer {
            width: 100%;
            max-width: 400px;
            padding: 1vh 5%;

            @media screen and (min-width: 992px) {
                float: left;
            }

            .beer__title {
                float: left;
                width: 70%;
            }

            .beer__abv {
                float: left;
                width: 15%;
            }

            .beer__price {
                float: left;
                width: 15%;
            }
        }
    }
}
